@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}

@font-face {
	font-family: "ds-digitalnormal";
	src: url(../includes/DS-DIGI.TTF) format("truetype");
}

body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: url("../img/grass.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.5;
}

body {
	font: 20px Raleway, sans-serif;
	/*   line-height: 1.8; */
	color: #f5f6f7;
	background-color: #0F281D;
	margin-top: 60px;
	margin-bottom: 60px;
}

.newsitem{
	height: 340px;
	width: 90%;
	background-color: #1dc116;
	margin-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10%;
	padding-bottom: 5%;
	margin-left: 5%;
}



.date, .newstitle, .newslink{
	font-size: 24px;
	text-align: center;
}

.newslink{
	background-color: #0b2e13;
	width: 50%;
	height: 10%;
	margin:auto;
	margin-top: 5%;
}

.newslink a{
	color: white;
}

#team, #ownteamranking{
	margin-top: 60px;
}

#rankings{
	margin-top: 60px;
	padding-bottom: 5%;
}

#userranking, #teamranking{
	margin: auto auto auto auto;
	width: 100%;
}

#userranking a, #teamranking a{
	text-decoration: none;
	color: white;
}

#userranking a:hover, #teamranking a:hover{
	text-decoration: none;
	color: white;
}

#teamranking img{
	width: 16%;
	height: auto;
}

.userrankingname{
	font-size: 16px;
	width: 100%;
	margin: 0;
}

.userrankingname p{
	margin: 0 0 0 0;
}


.userranking{
	float:right;
	font-size: 36px;
}

.userrankingpoints{
	font-size: 24px;
	color:lightgray;
}

.checkedstar{
	color:orange;
}

.userelement{
	border-bottom: 1px solid lightgray;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom:10px;
	padding-top: 10px;
/background-color: rgba(0,0,0,0.5);
}

.rankinglogo{
	height: 90%;
	margin-right:2%;
	width: auto;
}

#team h2{
	text-align:center;
	font-size: 22px;
}

#ownteamranking .rankinglogo, #ownprofile .rankinglogo{
	margin: auto;
	display: flex;
}

#fandomlevel{
	text-align:center;
/	background-color: rgba(0,0,0,0.5);
	margin-top: 30px;
	padding: 15px 15px 15px 15px;
}

#fanbaselevel{
	text-align:center;
/	background-color: rgba(0,0,0,0.5);
	margin-top: 30px;
	padding: 15px 15px 15px 15px;
}

#ownteamname{
	display:block;
	text-align: center;
}

#ownteamname p{
	margin-top: 40px;
	font-size: 48px;
	font-weight: bolder;
}

#fanbase p{
	font-size: 18px;
	margin: 0;
	font-weight: 300;
}

#rankdiv{
	text-align: center;
}

/* Three column layout */
.side {
	float: left;
	width: 15%;
	margin-top:10px;
}

.middle {
	margin-top:10px;
	float: left;
	width: 70%;
}

/* The bar container */
.bar-container {
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
	color: white;
	border-radius:15px;
	margin-top: 10px;
	margin-bottom: 10px;

}

/* Individual bars */
#fandombar{
	height: 40px;
	background-color: #4CAF50;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding-top: 7px;
	color: #0b2e13;
}

#fanbasebar{
	height: 40px;
	background-color: #4CAF50;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding-top: 7px;
	color: #0b2e13;
}

#overlay{
	display: none;
}

.overlay{
	display: none;
	background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.75) 30%, rgba(0,0,0,1) 80%, rgba(0,0,0,1));
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 3;
	text-align: center;
	overflow: scroll;
}

#phraseparagraph, #userprofile h2{
	text-align:center;
	font-size: 22px;
	margin-top: 50px;
}

.activitybox{
	width: 90%;
	background-color:white;
	border-radius: 10px;
	height: auto;
	margin-bottom: 5%;
	margin-left: 5%;
	padding: 10px 0px 10px 0px;
	border: 3px solid lightgray;
	text-align:center;
	color:gray;
	float: left;
}

.activityicon{
	font-size:5em;
	margin-top:2%;
}

#teamprofile #ownteamranking, #ownprofile, #squad{
	margin-top: 50px;
	margin-bottom:5%;
}

.playerimage{
	height: auto;
	width: 10%;
}

.playerimagewrapper{
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	background-position: 50% 5%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 2%;
	border-radius: 50%;
	border: 1px solid lightgray;
	margin-top: -5px;
}

#squad .userelement, #homesquad .userelement, #awaysquad .userelement {
	padding-bottom: 1.3%;
}

#teamprofile{
	clear:both;
	padding-top: 20px;

}

#teamprofile.matches, #teamprofile.matches #ownteamranking{
	display:block;
	text-align:center;
}

.matchbox{
	background: linear-gradient(to top left, #bee1fc 0%, #bee1fc 50%, #3d82b8 50%, #3d82b8 50.5%, #f6f6f6 50.5%, #f6f6f6 100%);

}

.timediv{
	width: 70%;
	height: 40%;
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	background: #164065;
	margin:auto;
	margin-top: 24%;
	text-align: center;
	border: 1px solid #164065;
	padding: 10px;
	box-shadow: 5px 10px 18px #164065;
}

.timediv p{
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	color: white;
	font-size: 16px;
}

.matchdate{
	padding-left: 8%;

}

.stadium{
}

.time{
	font-size: 3em;
}

time p{
	font-size: 22px;
}

.homediv .matchlogo{
	width:33%;
	padding-right:5%;
	float: left;
}

.homediv{
	float: left;
	margin-top: 4%;
	width: 70%;
	text-transform: uppercase;
	color:black;
	max-height: 25%;
	margin-left: 5%;
}

.awaydiv{
	float: right;
	margin-top: 6%;
	width: 70%;
	text-transform: uppercase;
	color:black;
	max-height: 25%;
	margin-right: 5%;
}

.awaydiv .matchlogo{
	width:33%;
	padding-left:5%;
	float: right;
}

.matchhometeam{
	text-align: left;
}

.matchhomefans{
	font-size: 14px;
	color: #164065;
	text-align: left;
}

.matchawayteam{
	text-align: right;
}

.matchawayfans{
	font-size: 14px;
	color: #164065;
	text-align: right;
}

#upcoming .activitybox.matchbox{
	float:none;
	width:50%;
	margin:auto;
	height: 72%;
	margin-bottom: 5%;
	margin-top: 5%;
}

#teamprofile.matches #fanbase{
	display:none;
}

.fa-thumbs-down, .fa-thumbs-up{
	color:#b06401;
	font-size:1.8em;
}

button{
	border-radius:10px;
	border-style: solid;
	height:50px;
	width:50px;
	margin: 0px 10px 0px 0px;
}

.downbutton{
	border-color: #f47126;
}

.upbutton{
	border-color: #610fde;
}

.eventbox{
	background-size:cover;
}

.score{
	font-family: ds-digitalnormal;
	font-size:2em;
	width: 30%;
	margin: auto;
	background-color: black;
	border-radius: 3px;
	color: white;
}

.fa-square{
	-ms-transform: scale(2, 3);
	-webkit-transform: scale(2, 3);
	transform: scale(1, 1.4);
}

.eventteamlogo{
	width:5%;
}

.eventlist{
	margin-top:10%;
	margin-bottom: 5%;
/	background-color: rgba(0,0,0,0.5);
	color:white;
	line-height:1.5em;
	width: 100%;
}

.reactionbar {
	width: 60%;
	height: 15px;
	background-color: #4CAF50;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-bottom:5px;
}

.activityreaction{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	border:none;
}

.activityreaction .eventlist{
	margin-top:5px;
	border-radius:15px;
}

#userprofile .activitybox{
	height:45%;
}

#userprofile .fa-thumbs-up, #userprofile .fa-thumbs-down {
	margin-top: 5px;
}

#results{
	margin-top: 40px;
	margin-bottom:50px;
}

.checkinbutton{
	float:right;
	color:gray;
}

.userelement .checkinbutton {
	margin-top: -51px;
	font-family: ds-digitalnormal;
	color: green;
	float: right;
	right: 5%;
}

.startinglist .player{
	font-size:16px;
	line-height:1.3em;
}

#score{
	text-align: center;
	margin-bottom: 20px;
}

.swiper-container{
	height: 100%;
}

.swiper-wrpper{
	height: 95%;
}

.matchescalendar{
	height: 50%;
	width: 90%;
	background-color:white;
	border-radius: 10px;
	margin-bottom: 20%;
	padding: 10px 0px 10px 0px;
	border: none;
	text-align:center;
	color:gray;
	float: left;
	margin-left: 5%;
}

.location{
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom:10px;
	padding-top: 10px;
}

.location:active{
	background-color: black;
	opacity: 0.7;
}

.location .userrankingname{
	width: 100%;
	text-align: left;
}

#userprofile{
	padding-top: 20px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	text-align: center;
	height: 80px;
	vertical-align: middle;
}

.userprofile{
/	background-color: rgba(0, 0, 0, 0.5);

}


.userprofile img{
/	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.userteamlogo img{
	width: 100%;
	height: auto;

}

.teamteamlogo img{
	width: 100%;
	height: auto;


}

#confederation{
/	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;

}

#squad h2{
	font-size: 22px;
	margin-bottom: 40px;
}

.activityboxmini{
	width: 90%;
	background-color:white;
	border-radius: 10px;
	height: 120px;
	margin-bottom: 5%;
	padding: 10px 0px 10px 0px;
	text-align:center;
	color: #164065;
	float: left;
	margin-left: 5%;
	background: linear-gradient(to bottom, #a9cce7 0%, #a9cce7 50%, #f6f6f6 50%, #f6f6f6 100%);
}

.activityiconmini{
	font-size: 2em;
	margin-top:1%;
	position: absolute;
	left: 10%;
	color: #164065;
}

.activityreactionmini{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-top: 10%;
}

.activityreactionmini .eventlist{
	margin-top:5px;
	border-radius:15px;
}

.activitytextmini{
	color: #164065;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
}

.eventlistmini{

}

h2{
	font-size: 22px;
	text-align: center;
}

#pac-input{
	text-align: center;
	padding: 6px;
	margin-top: 8px;
	border: none;
	font-size: 17px;
	border-radius: 5px;
	width: 80%;
}

.menu-icon{
	height: 24px;
}

.menu-icon img{
	padding-bottom: 6px;
	height: 100%;
}

.menu-title{
	font-family: Raleway;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	padding-right: 16px;
	line-height: 1.8;
}

.firstsubtopnavmatchinteraction{
	display: flex;
	align-items: center;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #0F281D;
	padding-left: 12px;
	padding-right: 24px;
}

.vouchercontainer{
	display: inline-block;
	width: 90%;
	border-radius: 10px;
	height: 250px;
	margin-bottom: 5%;
	text-align:center;
	color: #164065;
	float: left;
	margin-left: 5%;
	background-color: #f6f6f6;
}

#vouchercontainertitle{
	width: 100%;
	background-color: #a9cce7;
	padding: 7% 5% 5% 5%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#vouchercontainertitle p{
	font-size: 22px;
	font-weight: bold;
}

.vouchercontainer p{
	font-size: 24px;
}

.voucher{
	width: 42%;
	border-radius: 10px;
	height: 120px;
	margin-top: 20px;
	margin-left: 5%;
	padding-top: 44px;
	text-align:center;
	color: #f6f6f6;
	float: left;
	background-color: #164065;
}


#voucheroverlay{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	z-index: 2;
	opacity: 0.6;
}

#voucheroverlaycontent{
	text-align: center;
	position: fixed;
	display: none;
	width: 90%;
	height: 76%;
	top: 16%;
	left: 5%;
	right: 0;
	bottom: 0;
	background-color: #a9cce7;
	z-index: 2;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 12%;
}

#voucheroverlayinnercontent{
	background-color: white;
	height: 82%;
	border-radius: 50px;
	border: 3px solid #164065;
	padding: 5% 5% 5% 5%;
}

#voucheroverlaycontentborder{
	border-top: 20px dotted black;
	border-bottom: 20px dotted black;
	text-align: center;
	position: fixed;
	display: none;
	width: 90%;
	height: 78.6%;
	top: 14.8%;
	left: 5%;
	right: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 2;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.vouchertitle{
	color: #164065;
	padding-bottom: 5%;
}

.vouchertitle h1{
	font-weight: bold;
	font-size: 2.2em;
}

#voucherdescription{
	color: #164065;
}

#voucheroverlayinnercontentcookie{
	background-color: red;
	height: 82%;
	border-radius: 50px;
	border: 3px solid #164065;
	padding: 5% 5% 5% 5%;
}

.firstvoucher{
	font-size: 40px;
	height: 100%;
	padding-top: 14%;
	color: black;
}

#postmatchcontainer{
 	height: 400px;
}

#postmatchcontainertitle p{
	font-size: 22px;

}

.MVP{

}

.finalreview{

}

.finalcomment{

}

.postmatchvote{
	text-align: center;
	padding: 6px;
	margin-top: 10px;
	border: none;
	font-size: 17px;
	border-radius: 5px;
	width: 95%;
	background-color: lightgrey;
	height: 100%;
	display: none;
	margin-bottom: 10px;
}

.postmatchvotecontent{
	margin-top: 10px;
	height: 170px;
	margin-bottom: 20px;
	width: 90%;
	border: none;
	font-size: 17px;
	border-radius: 5px;
}

.innercontainer{
	margin-top: 70px;
	height: 280px;
	/background-color: red;
	text-align: center;
	margin-left: 5%;
}

.submitbutton{
	height: 60px;
	width: 90%;
	margin: 0;
}

#dropdown{
	width: 90%;
	margin-left: 5%;
	background-color: #f6f6f6;
	border-color: #f6f6f6;
	color: #7a7a7a;

}
.dropdown-menu {
	position: absolute;
	top: 100%;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	width: 90%;
	left: 5%;
}

#keeper{
	margin-top: 40px;
}

.starting11{
	height: 400px;
	overflow: scroll;
	text-align: left;
	float: none;
}

.voucherconfirmation{
	width: 80%;
	margin-top: 20px;
	z-index: 1000;
}

.livenow {
	/background-color: black;
	width: 40%;
	margin-left: 30%;
	height: 40px;
	position: absolute;
	bottom: 100%;
	/* left: 90; */
	color: red;
	font-family: "Raleway";
	font-weight: bold;
	font-size: 30px;
	padding-top: 3px;
	z-index: 1000;
	-webkit-animation: flickerAnimation 1s infinite;
	-moz-animation: flickerAnimation 1s infinite;
	-o-animation: flickerAnimation 1s infinite;
	animation: flickerAnimation 1s infinite;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}



#welcome{
	text-align: center;
	padding-top: 40%;
}

#welcometitle{
	animation-delay: 1s;
}

#welcometitle h1{
	font-size: 50px;
	font-weight: bold;
}

#welcometitle h2{
	font-size: 20px;
	font-weight: 200;
}

#authentication{
	display:none;
	text-align: center;
}

#authentication h1{
	font-size: 50px;
	font-weight: bold;
}

#authentication h2{
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 80px;
}

#getstarted{
	height: 80px;
	width: 100%;
	background-color: rgba(0, 128, 0, 0.5);
	position: fixed;
	bottom: 0;
	animation-delay: 2s;
}

#getstarted p{
	color: white;
	font-size: 20px;
	margin-top: 28px;

}

#teamselect{
	text-align: center;
	padding: 0px 10px 10px 10px;
}

#teamselect button{
	background-size: 100% 100% !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
	width: 18% !important;
	height: 50px !important;
	border-style: none;
	border-radius: 0;
	margin: 10px 10px 10px 10px;
}

#teamselect h1{
	font-size: 50px;
	font-weight: bold;
}

#teamselect h2{
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 60px;
}

#statsmvp{
	display:none;
}
#statsgoals{
	display: none;
}
#statsbest11{
	display:none;
}
#statscoach{
	display:none;
}
#statsoverall{
	display:none;
}

/* ----- Match Statistics ----- */

#statistics{
}

#posession{
	width: 90%;
	margin-left: 5%;
}

#shots{
	width: 90%;
	margin-left: 5%;
}


#saves{
	width: 90%;
	margin-left: 5%;
}

.statshome{
	width: 50%;
	float: right;
	background-color: yellow;
}

.statsaway {
	width: 50%;
	float: left;
	background-color: brown;
}

.innerstatshome{
	background-color: red;
}
.innerstatsaway{
	background-color: green;
	float: right;
}




/* ------ Media Queries ---- */

@media only screen and (min-width: 400px) {
	.timediv p{
		font-size: 19px;
	}
	.stadium{
		 padding-top: 2.5%;
	 }

	.matchhomefans{
		font-size: 18px;
		color: #164065;
		text-align: left;
	}

	.matchawayfans{
		font-size: 18px;
		color: #164065;
		text-align: right;
	}
}

/* ------ Animations ---- */

@keyframes flickerAnimation {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}