@font-face {
    font-family: "ds-digitalnormal";
    src: url(../includes/DS-DIGI.TTF) format("truetype");
}

body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: url("../img/grass.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.5;
}

body {
	font: 20px Raleway, sans-serif;
	/*   line-height: 1.8; */
	color: #f5f6f7;
	background-color: #0F281D;
	margin-top: 60px;
	margin-bottom: 60px;
}

.newsitem{
	height: 340px;
	width: 90%;
	background-color: #1dc116;
	margin-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10%;
	padding-bottom: 5%;
	margin-left: 5%;
}



.date, .newstitle, .newslink{
	font-size: 24px;
	text-align: center;
}

.newslink{
	background-color: #0b2e13;
	width: 50%;
	height: 10%;
	margin:auto;
	margin-top: 5%;
}

.newslink a{
	color: white;
}

#team, #ownteamranking{
	margin-top: 60px;
}

#rankings{
	margin-top: 60px;
	padding-bottom: 5%;
}

#userranking, #teamranking{
	margin: auto auto auto auto;
	width: 100%;
	padding-top: 50px;
}

#userranking a, #teamranking a{
	text-decoration: none;
	color: white;
}

#userranking a:hover, #teamranking a:hover{
	text-decoration: none;
	color: white;
}

#teamranking img{
	width: 16%;
	height: auto;
}

.userrankingname{
	font-size: 16px;
	width: 100%;
	margin: 0;
}

.userrankingname p{
	margin: 0 0 0 0;
}


.userranking{
	float:right;
	font-size: 36px;
}

.userrankingpoints{
	font-size: 24px;
	color:lightgray;
}

.userelement{
	border-bottom: 1px solid lightgray;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom:10px;
	padding-top: 10px;
	/background-color: rgba(0,0,0,0.5);
}

.rankinglogo{
	height: 90%;
	margin-right:2%;
	width: auto;
}

#team h2{
	text-align:center;
	font-size: 22px;
}

#ownteamranking .rankinglogo, #ownprofile .rankinglogo{
	margin: auto;
	display: flex;
}

#fanbase{
	text-align:center;
/	background-color: rgba(0,0,0,0.5);
	margin-top: 30px;
	padding: 15px 15px 15px 15px;
}

#ownteamname{
	display:block;
	text-align: center;
}

#ownteamname p{
	margin-top: 40px;
	font-size: 48px;
	font-weight: bolder;
}

#fanbase p{
	font-size: 18px;
	margin: 0;
	font-weight: 300;
}

#rankdiv{
	text-align: center;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius:15px;
	margin-top: 10px;
	margin-bottom: 10px;

}

/* Individual bars */
#fanbasebar{
	width: 60%;
	height: 40px;
	background-color: #4CAF50;
	border-top-left-radius: 15px;
    	border-bottom-left-radius: 15px;
}

#overlay{
	display: none;
}

.overlay{
	display: none;
	background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.75) 30%, rgba(0,0,0,1) 80%, rgba(0,0,0,1));
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 3;
	text-align: center;
	overflow: scroll;
}

#phraseparagraph, #userprofile h2{
	text-align:center;
	font-size: 22px;
	margin-top: 50px;
}

.activitybox{
	width: 95%;
	background-color:white;
	border-radius: 10px;
	height: auto;
	margin-bottom: 5%;
	padding: 10px 0px 10px 0px;
	border: 3px solid lightgray;
	text-align:center;
	color:gray;
	float: left;
}

.activityicon{
	font-size:5em;
	margin-top:2%;
}

#teamprofile #ownteamranking, #ownprofile, #squad{
	margin-top: 50px;
	margin-bottom:5%;
}

.playerimage{
	 height: auto;
	 width: 10%;
}

.playerimagewrapper{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2%;
    border-radius: 50%;
	border: 1px solid lightgray;
	margin-top: -5px;
}

#squad .userelement, #homesquad .userelement, #awaysquad .userelement {
    padding-bottom: 1.3%;
}

#teamprofile{
	clear:both;
	padding-top: 20px;

}

#teamprofile.matches, #teamprofile.matches #ownteamranking{
	display:block;
	text-align:center;
}

.matchbox{
	background: linear-gradient(to top left, #bee1fc 0%, #bee1fc 50%, #3d82b8 50%, #3d82b8 50.5%, #f6f6f6 50.5%, #f6f6f6 100%);

}

.timediv{
	width: 50%;
	height: 25%;
	-webkit-transform: skew(-50deg);
	-moz-transform: skew(-50deg);
	-o-transform: skew(-50deg);
	background: #164065;
	margin:auto;
	margin-top:30%;
	text-align: center;
	border: 1px solid #164065;
	padding: 10px;
	box-shadow: 5px 10px 18px #164065;
}

.timediv p{
	-webkit-transform: skew(50deg);
	-moz-transform: skew(50deg);
	-o-transform: skew(50deg);
	color: white;
	font-size: 16px;

}

.matchdate{
}

.time{
	padding-right:30%;
	font-size:1.5em;
}

.homediv .matchlogo{
	width:33%;
	padding-right:5%;
	float: left;
}

.homediv{
	float: left;
	margin-top: 10%;
	width: 70%;
	text-transform: uppercase;
	color:black;
	max-height: 25%;
	margin-left: 5%;
}

.awaydiv{
	float: right;
	margin-top: 8%;
	width: 70%;
	text-transform: uppercase;
	color:black;
	max-height: 25%;
	margin-right: 5%;
}

.awaydiv .matchlogo{
	width:33%;
	padding-left:5%;
	float: right;
}

.matchhometeam{
	float:left;
}

.matchawayteam{
	float:left;
	margin-left:20%;
}

#upcoming .activitybox.matchbox{
	float:none;
	width:50%;
	margin:auto;
	height: 72%;
	margin-bottom: 5%;
	margin-top: 5%;
}

#teamprofile.matches #fanbase{
	display:none;
}

.fa-thumbs-down, .fa-thumbs-up{
	color:#b06401;
	font-size:1.8em;
}

button{
	border-radius:10px;
	border-style: solid;
	height:50px;
	width:50px;
	margin: 0px 10px 0px 0px;
}

.downbutton{
	border-color: #f47126;
}

.upbutton{
	border-color: #610fde;
}

.eventbox{
	background-size:cover;
}

.score{
	font-family: ds-digitalnormal;
	font-size:2em;
	width: 30%;
	margin: auto;
	background-color: black;
	border-radius: 3px;
	color: white;
}

.fa-square{
	-ms-transform: scale(2, 3);
	-webkit-transform: scale(2, 3);
	transform: scale(1, 1.4);
}

.eventteamlogo{
	width:5%;
}

.eventlist{
	margin-top:10%;
	margin-bottom: 5%;
/	background-color: rgba(0,0,0,0.5);
	color:white;
	line-height:1.5em;
	width: 100%;
}

.reactionbar {
	width: 60%;
	height: 15px;
	background-color: #4CAF50;
	border-top-left-radius: 15px;
    	border-bottom-left-radius: 15px;
	margin-bottom:5px;
}

.activityreaction{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	border:none;
}

.activityreaction .eventlist{
	margin-top:5px;
	border-radius:15px;
}

#userprofile .activitybox{
	height:45%;
}

#userprofile .fa-thumbs-up, #userprofile .fa-thumbs-down {
    margin-top: 5px;
}

#results{
	margin-top: 40px;
	margin-bottom:50px;
}

.checkinbutton{
	float:right;
	color:gray;
	display: none;
}

.userelement .checkinbutton {
	margin-top: -51px;
	font-family: ds-digitalnormal;
	color: green;
	position: absolute;
	float: right;
	right: 5%;
}

.startinglist .player{
	font-size:16px;
	line-height:1.3em;
}

#score{
	text-align: center;
	margin-bottom: 20px;
}

.swiper-container{
	height: 100%;
}

.swiper-wrpper{
	height: 95%;
}

.matchescalendar{
	height: 50%;
	width: 90%;
	background-color:white;
	border-radius: 10px;
	margin-bottom: 20%;
	padding: 10px 0px 10px 0px;
	border: none;
	text-align:center;
	color:gray;
	float: left;
	margin-left: 5%;
}

.location{
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom:10px;
	padding-top: 10px;
}

.location .userrankingname{
	width: 100%;
	text-align: left;
}

#userprofile{
	padding-top: 20px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	text-align: center;
	height: 80px;
	vertical-align: middle;
}

.userprofile{
/	background-color: rgba(0, 0, 0, 0.5);

}


.userprofile img{
/	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	width: 100px;
	height: 100px;
}



.teamteamlogo img{
	height: 100%;

}

#confederation{
/	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;

}

#squad h2{
	font-size: 22px;
}

.activityboxmini{
	width: 90%;
	background-color:white;
	border-radius: 10px;
	height: 120px;
	margin-bottom: 5%;
	padding: 10px 0px 10px 0px;
	text-align:center;
	color: #164065;
	float: left;
	margin-left: 5%;
	background: linear-gradient(to bottom, #a9cce7 0%, #a9cce7 50%, #f6f6f6 50%, #f6f6f6 100%);

}

.activityiconmini{
	font-size: 2em;
	margin-top:1%;
	position: absolute;
	left: 10%;
	color: #164065;
}

.activityreactionmini{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-top: 10%;
}

.activityreactionmini .eventlist{
	margin-top:5px;
	border-radius:15px;
}

.activitytextmini{
	color: #164065;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
}

.eventlistmini{

}

h2{
	font-size: 22px;
	text-align: center;
}

#pac-input{
	text-align: center;
	padding: 6px;
	margin-top: 8px;
	border: none;
	font-size: 17px;
	border-radius: 5px;
	width: 80%;
}